.header{
padding: 10px;
display: flex;
flex-direction: column;
}
.new_header{
    margin-top: 30PX;
    display: flex;
    padding: 10px;
    height: 50px;
 
}
.artist{
    display: flex;
text-align: center;
justify-content: space-between;
overflow-x: scroll;
overflow: hidden;
}
.profile > img{
    width: 30px;
    margin-top: 1vh;
}
.album{
    margin-bottom: 21px!important;
}

.name{
    font-size: large;
    margin-top:2.8vh;
    width: 20%;
    margin-left: 30PX;
}
.search > input{
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 34rem;
    padding: 10px;
    margin: 0px 20px;
}
.search > input:focus{
    border: none;
    outline: none;
}
.settings > img{
    width: 30px;
    margin-top: 0.4vh;
    margin-left: 10px;
}
.search{
    margin-top: 0.8vh;
    width: 60%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media only screen and (max-width: 900px) {
    .search > input{
        width:70% ;

    }   
    .header{
        margin-top: 30PX;
        width: 90%;
        display: flex;
        padding: 10px;
    }
    .search{
        display: none;
        width: 70%;
    }
    .Boxes {
        display: flex;
        overflow-x:scroll;
        align-items: center;
        width: 100%!important;
        margin: 10px 10px;
        gap: 10px;
      }
}

.Boxes {
    display: flex;
    overflow-x:scroll;
    align-items: center;
    width: 61rem;
    margin: 10px 10px;
    gap: 10px;
  }
  
  .artist {
    flex: 0 0 auto;
    white-space: nowrap;
    padding: 10px;
    color: grey;
    transition: .5s;
  }
  .artist_txt{
    font-weight: 500;
    font-size:x-large;
    padding: 10px;
  }
  .Boxes::-webkit-scrollbar{
        display: none;
  }
  .settings{
    padding: 6px;
    border-radius: 10px;
    width: 5%;
    padding-left: 1px;
    margin-left: 38px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .profile{
    margin-top: 6px;
  }

  .sub{
    display: flex;
    height: 60%;
    width: 100%;
  }
  .sub_left{
    width: 40%;
    font-size: x-large;
    padding: 10px;
    position: relative;
  }
  .sub_left b{
    font-weight: 500;
    font-size: larger;
    margin-left: 40px;
  }

  .sub_img img{
    border-radius: 10px;
  }
  .sub_img{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }
  .sub_left{
    overflow-y: scroll;
    height: 520px;
    width: 40%;
  }
  .sub_left::-webkit-scrollbar{
    overflow-y: scroll;
    height: 520px;
    width: 40%;
  }