.main{
    display: flex;
    flex-direction: column;
}
.containers{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 900px) {
    .containers{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .left{
        display: none;
    }
  }

  .flex{
    display: flex;
    flex-direction: column;
  }