.left{
    width: 20%;
    margin-top: 2%;
    background-color: white;
    height: 90vh;
}
.logo{
    text-align: center;
    background-color: white;
    margin: 1rem 1rem;
    font-size: 30px;
    font-weight: 800;
}
.nav-element{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 195px;
    border-radius: 10px;
    margin: 2rem 2rem;
    color: gray;
    cursor: pointer;
    transition: 0.5s;
}
.nav-element:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 2rem 2rem;
    color: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.img  > img{
    width: 30px!important;
    height: 30px!important;
    color: grey;
    border-radius: 10%;
}
.space{
    margin-right: 1vh;
    padding: 10px;
 }

 .nav{
 display: flex;
 align-items: center;
 flex-direction: column;
 }
