.left{
    width: 15%;
    background-color: #0b2a49;
    height: 100vh;
}
.logo{
    text-align: center;
    background-color: white;
    margin: 1rem 1rem;
    font-size: 30px;
    font-weight: 800;
    background-color: transparent;
    color: white;
    text-align: start;
    DISPLAY: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}
.nav-element{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin: 10px 10px;
    cursor: pointer;
    transition: 0.5s;
}
.img_sidebar :hover{
    background-color: rgb(22, 40, 56);
}
.holder{
    display: flex;
    align-items: center;

}
.nav-element:hover{
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px 10px;
    color: black;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}



.img_sidebar  > img{
    width: 28px!important;
    color: grey;
    border-radius: 10%;
}
.space{
    margin-right: 1vh;
    padding: 10px;
 }

 .nav{
 display: flex;
 align-items: center;
 flex-direction: column;
 }
