.right{
    width: 20%;
    margin-top: 2%;
    background-color: white;
    height: 90vh;
    text-align: center;
}
.right-heading{
    text-align: center;
    /* padding: 10px; */
    background-color: white;
    margin: 1rem 1rem;
}
.list-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.playing{
    padding: 10px;
    font-size: smaller;
    width: 80%;
    }
.component{
    display: flex;
justify-content: center;
align-items: center;
    text-align: center;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
width: 90%;
}
.img_right img{
    width: 50px;

    height: 100%;

    border-radius: 10%;
}

.playbutton{
    width: 5%;
}


@media only screen and (max-width: 900px) {
    .right{
        width: 100%;
        margin-top: 2%;
        background-color: white;
        height: 90vh;
        text-align: center;
    }

 .playing{
        width: 80%;
        text-align: left;
        }
  }